---
const { isNew } = Astro.props;
---

{isNew && <div class="badge">NEW</div>}

<style>
  .badge {
    position: relative;
    background-color: rgb(197, 197, 0);
    max-width: fit-content;
    color: white;
    top: -20px;
    left: -20px;
    padding-top: 10px;
    border-radius: 5px;
  }
</style>
