---
const { variant, size } = Astro.props;
---

<button class={variant + " " + size}><slot /></button>

<style>
  button:hover {
    scale: 1.1;
  }

  /* white */
  .primary {
    background-color: var(--text-primary);
    color: var(--background-color);
  }

  .large {
    font-size: 1.1rem;
    border-style: none;
    font-weight: bolder;
    border-radius: 1000px;
    height: 100%;
    padding: 0.8rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  /* dark */
  .secondary {
    background-color: transparent;
    color: var(--text-secondary);
  }
  .small {
    font-size: 0.5rem;
  }

  .other {
    background-color: transparent;
    color: var(--text-primary);
  }
</style>
