---
import Card from "../components/Card.astro";
---

<div class="focus">
  <h1>Focus</h1>
  <h2>Show All</h2>
</div>
<section>
  <Card header="Peacefull Piano" imageSrc="../piano.png" />
  <Card header="Deep Focus" imageSrc="../deep.png" />
  <Card header="Instrumental Study" imageSrc="../study.png" />
  <Card header="Jazz Vibes" imageSrc="../jazz.png" />
  <Card header="Focus Flow" imageSrc="../flow.png" />
</section>

<style>
  section {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 250px;
  }

  h1 {
    margin-left: 250px;
    margin-top: 3.2em;
    color: var(--text-primary);
    padding: 1rem;
    font-size: 1.5rem;
  }

  h2 {
    margin-top: 6em;
    color: var(--text-secondary);
    padding: 1rem;
    font-size: 0.8rem;
    font-weight: lighter;
  }

  h2:hover {
    color: var(--text-primary);
  }
  .focus {
    display: flex;
    justify-content: space-between;
  }
</style>
