---
import Navigation from "../components/Navigation.astro";
---

<header>
  <div class="logo">
    <a href="/#">
      <img src="../public/logo.svg" alt="Spotify Logo" class="logo" />
    </a>
  </div>
  <Navigation />
</header>

<style>
  .logo {
    padding: 1rem;
    max-width: 13rem;
  }
</style>
