---

---

<div>
  <nav class="nav-container">
    <ul>
      <li>
        <a class="home_link" href="/#"
          ><img
            src="/public/Home.svg"
            alt="Spotify Home Icon"
            class="icon"
          /><span>Home</span></a
        >
      </li>
      <li>
        <a class="home_link" href="/#"
          ><img
            src="/public/SearchIcon.svg"
            alt="Spotify Search Icon"
            class="icon"
          /><span>Search</span></a
        >
      </li>
      <li>
        <a class="home_link" href="/#"
          ><img
            src="/public/YourPlaylist.svg"
            alt="Spotify Library Icon"
            class="icon"
          /><span>Your Library</span></a
        >
      </li>
      <br />
      <br />
      <li>
        <a class="home_link" href="/#"
          ><img
            src="/public/create_playlist.svg"
            alt="Spotify Create Icon"
            class="icon"
          /><span>Create Playlist</span></a
        >
      </li>
      <li>
        <a class="home_link" href="/#"
          ><img
            src="/public/liked_spotify.png"
            alt="Spotify Liked Songs Icon"
            class="icon_liked"
          /><span>Liked Songs</span></a
        >
      </li>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <li>
        <a class="cookies" href="/#"><span>Cookies</span></a>
      </li>
      <li>
        <a class="button" href="/#"
          ><span>English</span><img
            src="/public/globe.png"
            alt="Spotify Globe Icon"
            class="icon"
          /></a
        >
      </li>
    </ul>
  </nav>
</div>
<style>
  .nav-container {
    width: 200px;
    display: flex;
    flex-direction: column;
  }

  li {
    padding-bottom: 8px;
    margin-left: -20px;
  }

  .home_link {
    font-family: GothamMedium;
    font-size: 1rem;
    color: var(--text-primary);
  }

  .icon {
    padding-right: 10px;
    max-width: 34px;
  }

  .icon_liked {
    padding-right: 10px;
    max-width: 34px;
    border-radius: 10%;
  }

  .button,
  .cookies {
    display: flex;
    flex-direction: row;
    padding: 8px;
    gap: 10px;
    align-items: end;
    margin-bottom: -5px;
    font-family: GothamMedium;
    font-size: 1rem;
    color: var(--text-primary);
  }

  .cookies {
    font-size: 0.6rem;
    color: var(--text-secondary);
  }
</style>
